/*! sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
audio:not([controls]) {
  display: none; }

button {
  overflow: visible;
  -webkit-appearance: button; }

details {
  display: block; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

input {
  -webkit-border-radius: 0; }
  input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; }
  input[type="number"] {
    width: auto; }
  input[type="search"] {
    -webkit-appearance: textfield; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

main {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

summary {
  display: block; }

svg:not(:root) {
  overflow: hidden; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0; }

:root {
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100%/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }
  [hidden][aria-hidden="false"]:focus {
    clip: auto; }

@font-face {
  font-family: FiraSans-Regular;
  src: url(media/fonts/fira-sans/FiraSans-Regular.ttf); }
@font-face {
  font-family: FiraSans-Bold;
  src: url(media/fonts/fira-sans/FiraSans-Bold.ttf); }
@font-face {
  font-family: FiraSans-ExtraBold;
  src: url(media/fonts/fira-sans/FiraSans-ExtraBold.ttf); }
html, main, body, section, article, figure, figcaption, ol {
  width: 100%;
  box-sizing: border-box; }

body {
  font: 100% FiraSans-Regular, Helvetica, sans-serif;
  color: #333;
  position: relative; }

div#popover {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ccc;
  position: absolute;
  z-index: 999;
  width: 100%;
  min-height: 100%;
  padding: 1em; }
  div#popover a:link, div#popover a:hover, div#popover a:visited, div#popover a:active {
    color: #ccc; }
  div#popover p {
    padding-bottom: 1em; }
  div#popover nav {
    display: block;
    margin: 1em auto;
    cursor: pointer;
    text-align: center; }
  div#popover h2 {
    font-size: 1.2em;
    font-family: FiraSans-Bold, Helvetica, sans-serif; }
  div#popover strong {
    font-family: FiraSans-Bold, Helvetica, sans-serif; }
  div#popover ol {
    margin-left: 1em;
    margin-bottom: 1em;
    color: #bada55; }
    div#popover ol li {
      margin-bottom: 1em; }

main {
  position: absolute;
  top: 0;
  left: 100%;
  transition: left 0.5s ease;
  background-image: url(media/bg-loop.jpg);
  background-repeat: repeat-y; }

h1 {
  font-size: 1.5rem; }

.question {
  z-index: -999;
  background-size: contain; }
  .question .videoContainer {
    visibility: hidden;
    height: 200px;
    width: 100%;
    text-align: center;
    background-image: url(media/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center; }
    .question .videoContainer iframe {
      height: 100%; }
  .question p {
    color: #fff;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, 0px 0px 6px #000;
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 12%, rgba(0, 0, 0, 0.7) 92%, transparent 100%); }

.answer, .gameOver {
  background-color: #fff;
  border-radius: 10px;
  width: 95%;
  margin: auto; }
  .answer header, .gameOver header {
    border-radius: 10px 10px 0 0;
    padding: 1em 1em 0.5em 1em;
    padding-right: 1em;
    color: #fff;
    background-color: #31409d;
    font-family: FiraSans-Bold, Helvetica, sans-serif; }
    .answer header:before, .gameOver header:before {
      padding-right: 0.5em;
      font-size: 1.5rem;
      vertical-align: -7px; }
    .answer header nav.showHint, .gameOver header nav.showHint {
      float: right;
      padding-top: 5px; }
  .answer.question header:before, .gameOver.question header:before {
    content: "?"; }
  .answer.answer header:before, .gameOver.answer header:before {
    content: url(media/action.png); }
  .answer.gameOver header:before, .gameOver.gameOver header:before {
    content: url(media/finish.png); }
  .answer.gameOver article, .gameOver.gameOver article {
    text-align: center; }
  .answer article, .gameOver article {
    padding: 1em; }
  .answer .questionMedia, .gameOver .questionMedia {
    text-align: center;
    padding-bottom: 1em; }
    .answer .questionMedia img, .gameOver .questionMedia img {
      height: 300px;
      max-width: 100%; }
    .answer .questionMedia figcaption, .gameOver .questionMedia figcaption {
      font-style: italic;
      text-align: center;
      padding: 1em 0em; }
  .answer .answerList, .gameOver .answerList {
    list-style-type: none;
    counter-reset: ol-counter; }
    .answer .answerList li, .gameOver .answerList li {
      position: relative;
      padding-left: 5em;
      padding-bottom: 1em;
      min-height: 5em;
      cursor: pointer; }
    .answer .answerList li:before, .gameOver .answerList li:before {
      content: counter(ol-counter,upper-alpha);
      counter-increment: ol-counter;
      text-align: center;
      padding-top: 0.3em;
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
      position: absolute;
      left: 0;
      background-color: #BBB;
      border-radius: 50%;
      border: 4px solid #DDD;
      width: 2em;
      height: 2em; }

.answerContainer {
  background-image: url(media/BG.png);
  background-size: cover;
  min-height: 500px; }

/*# sourceMappingURL=MainStyle.css.map */
