@import 'sanitize.scss';

@font-face {
  font-family: FiraSans-Regular;
  src: url(media/fonts/fira-sans/FiraSans-Regular.ttf);
}

@font-face {
  font-family: FiraSans-ExtraBold;
  src: url(media/fonts/fira-sans/FiraSans-ExtraBold.ttf);
}

$font-stack-regular:    FiraSans-Regular, Helvetica, sans-serif;
$font-stack-bold:    FiraSans-ExtraBold, Helvetica, sans-serif;
$font-size-regular: 100%;
$font-size-bigger: 1.5rem;
$font-size-huge: 3rem;
$primary-color: #333;

html, main, body, section, article, figure, figcaption, img, ol {
  width: 100%;
  box-sizing: border-box;
}

body {
  font: 100% $font-stack-regular;
  color: $primary-color;
  padding: 1em;
  background-color: #ccc;
}

section {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 1em;

  header {
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    padding-right: 1em;
    color: #fff;
    background-color: #f00;
    font-family: $font-stack-bold;

    &:before {
      padding-right: 0.5em;
      font-size: $font-size-bigger;
      vertical-align: middle;
    }

  }

  &#question header:before {
    content: "?";
  }

  &#answer header:before {
    content: "!";
  }

  article {
    padding: 1em;
  }
  #questionMedia {

    img {
      max-height: 300px;
    }

    figcaption {
      font-style: italic;
      text-align: center;
      padding: 1em 0em;
    }
  }

  #answerList {
    list-style-type: none;
    counter-reset: ol-counter;

    li {
      position: relative;
      padding-left: 5em;
      padding-bottom: 1em;
      min-height: 5em;
    }

    li:before {
      content: counter(ol-counter, upper-alpha);
      counter-increment: ol-counter;
      text-align: center;
      padding-top: 0.3em;
      font-size: $font-size-bigger;
      font-weight: bold;
      color: #fff;

      position: absolute;
      left: 0;

      background-color: #BBB;
      border-radius: 50%;
      border: 4px solid #DDD;
      width: 2em;
      height: 2em;

    }
  }
}