@import 'sanitize.scss';

@font-face {
  font-family: FiraSans-Regular;
  src: url(media/fonts/fira-sans/FiraSans-Regular.ttf);
}

$font-stack:    FiraSans-Regular, Helvetica, sans-serif;
$font-size-regular: 100%;
$font-size-bigger: 2rem;
$font-size-huge: 3rem;
$primary-color: #333;

html, main, body, section, article, figure, figcaption, img, ol {
  width: 100%;
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  padding: 1em;
}

section {
  border-radius: 10px;
  border: 1px solid #BADA55;
  margin-bottom: 1em;
  padding: 1em;

  #questionMedia {

    figcaption {
      font-style: italic;
      text-align: center;
      padding-top: 1em;
    }
  }

  #questionText {
    margin: 2em 0;
  }

  #answerChoices {
    list-style-type: none;
    counter-reset: ol-counter;

    li {
      position: relative;
      padding-left: 5em;
      padding-bottom: 1em;
      min-height: 5em;
    }

    li:before {
      content: counter(ol-counter, upper-alpha);
      counter-increment: ol-counter;
      text-align: center;
      padding-top: 0.4em;
      font-size: $font-size-bigger;
      font-weight: bold;
      color: #fff;

      position: absolute;
      left: 0;

      background-color: #BADA55;
      border-radius: 50%;
      border: 2px solid #B3D4FC;
      width: 2em;
      height: 2em;

    }
  }
}

header {
  font-size: $font-size-huge;
  font-weight: bold;
  margin-bottom: 0.5em;
}